<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<!-- 1.数据库连接信息 -->
	<property name="connection.url">
		jdbc:mysql://localhost:3306/dangdang?useUnicode=true&amp;characterEncoding=utf8
	</property>
	<property name="connection.username">root</property>
	<property name="connection.password">root</property>
	<property name="connection.driver_class">
		com.mysql.jdbc.Driver
	</property>

	<!-- 2.Hibernate配置信息 -->
	<!-- dialect是方言,用于配置生成针对哪个数据库的SQL语句 -->
	<property name="dialect">
		<!-- Hibernate提供的方言类,用于封装某种特定数据库的方言 -->
		org.hibernate.dialect.MySQLDialect
	</property>
	<!-- 将执行sql打印到控制台,一般用于sql调优 -->
	<property name="hibernate.show_sql">true</property>
	<property name="hibernate.format_sql">true</property>

	<!-- 在配置文件中关联映射文件 -->
	<mapping resource="com/tarena/entity/Book.hbm.xml" />
	<mapping resource="com/tarena/entity/Category.hbm.xml" />
	<mapping resource="com/tarena/entity/CategoryProduct.hbm.xml" />
	<mapping resource="com/tarena/entity/Item.hbm.xml" />
	<mapping resource="com/tarena/entity/Order.hbm.xml" />
	<mapping resource="com/tarena/entity/Product.hbm.xml" />
	<mapping resource="com/tarena/entity/ReceiveAddress.hbm.xml" />
	<mapping resource="com/tarena/entity/User.hbm.xml" />
</session-factory>
</hibernate-configuration>
