<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans default-lazy-init="true">
	<!--
		<bean id="userdao" class="com.tarena.dao.impl.JdbcUserDAO">
	-->
	<bean id="userdao" class="com.tarena.dao.impl.HibernateUserDAO">
	</bean>
	<!-- Setter方式注入 -->
	<bean id="useraction" class="com.tarena.action.UserAction">
		<!-- ref是引用的bean的id，name指的是setUserDao注入的属性userDao的名字 -->
		<property name="userDao" ref="userdao"></property>
	</bean>
	<!-- 构造器注入 -->
	<bean id="useraction2" class="com.tarena.action.UserAction2">
		<constructor-arg index="0" ref="userdao" />
	</bean>

	<!-- 注解 -->
	<!-- -各种注入 -->
	<bean id="messagebean" class="com.tarena.bean.MessageBean">

		<property name="username" value="root">
			<!-- <value>root</value> -->
		</property>

		<property name="password" value="1234">
			<!-- <value>1234</value> -->
		</property>

		<property name="size" value="150">
			<!-- <value>150</value> -->
		</property>

		<property name="citys">
			<list>
				<value>北京</value>
				<value>上海</value>
				<value>深圳</value>
				<!-- 其它类型时<ref bean=""/>-->
			</list>
		</property>

		<property name="friends">
			<set>
				<value>张三</value>
				<value>李四</value>
				<value>王五</value>
			</set>
		</property>

		<property name="books">
			<map>
				<entry key="10" value="CoreJava">
				</entry>
				<entry key="11" value="Servlet">
				</entry>
				<entry key="12" value="SSH">
				</entry>
			</map>
		</property>

		<property name="props">
			<props>
				<prop key="url">http://www.tom.com</prop>
				<prop key="username">zhangsan</prop>
				<prop key="password">123456789</prop>
			</props>
		</property>
	</bean>
</beans>
